<div>
    <form action="/" method="post">
        <div>
            <div>
                <label name="title"> create a new video play list</label>
                <input name="title" type="input" {{title}} />
                {{!-- <input label='submit' type="submit" /> --}}
            </div>
            <div>
                <label name="url"> video link</label>
                <input name="url" type="input" {{url}} />
                {{!-- <input label='submit' type="submit" /> --}}
            </div>

            <div>
                <label name="comments[content]"> type your comments</label>
                <input name="comments[content]" type="input" {{comments}} />
            </div>
            <input label='submit' type="submit" />
        </div>
    </form>
</div>